:root {
  --color-primary: #6157ab;
  --color-primary-light: #eceaf8;
  --color-primary-light-1: #c7c1f3;
  --color-primary-darker: #4a4385;
  --color-primary-darker-2: #323a5b;
  --color-primary-darker-3: #b2a9ef;
  --color-primary-darker-4: #7569cf;
  --color-primary-light-2: #574d9c;
  --color-primary-light-3: #e3e6f9;
  --color-grey-1: #636769;
  --color-grey-2: #96979a;
  --color-grey-3: #363b3d;
  --color-grey-4: #f5f4f2;
  --color-grey-5: #333;
  --color-grey-6: #7a858a;
  --color-grey-7: #aab8bf;
  --color-grey-8: #c9d3d9;
  --color-grey-9: #1e2224;
  --color-grey-10: #c9c9c9;
  --color-grey-11: #636769;
  --color-grey-12: #2b2b2b;
  --color-white: #fff;
  --color-black: #000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.heading-primary {
  font-size: 6.4rem;
  color: var(--color-grey-dark);
  letter-spacing: 1px;
  line-height: 1.1;
  animation: moveInLeft 1s ease-in-out; }
  @media only screen and (max-width: 62.5em) {
    .heading-primary {
      text-align: center;
      font-size: 4rem;
      margin-top: 5rem; } }

.heading-secondary {
  color: var(--color-grey-5);
  font-size: 5.2rem;
  text-align: center; }

.heading-tertiary {
  font-size: 4rem;
  color: var(--color-grey-3); }

.heading-4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-grey-2); }

.u-margin-bottom-large {
  margin-bottom: 11.9rem !important; }
  @media only screen and (max-width: 62.5em) {
    .u-margin-bottom-large {
      margin-bottom: 6rem !important; } }

.u-margin-bottom-biggest {
  margin-bottom: 6.7rem; }

.u-margin-bottom-biggest-1 {
  margin-bottom: 6.3rem; }

.u-margin-bottom-big {
  margin-bottom: 4.7rem !important; }

.u-margin-bottom-small {
  margin-bottom: 3.5rem !important; }

.u-margin-bottom-smallest {
  margin-bottom: 3.1rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.nav {
  padding: 0 10.9rem;
  height: 8.4rem;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  z-index: 20; }
  @media only screen and (max-width: 50em) {
    .nav {
      background-color: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(5px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;
      opacity: 0;
      pointer-events: none;
      visibility: hidden; } }
  .nav__item {
    position: relative; }
  .nav__item:not(:last-child)::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 0.3rem;
    bottom: -0.5rem;
    transform-origin: right;
    transform: scaleX(0);
    background-color: var(--color-primary);
    transition: transform 0.5s; }
  .nav__item:hover:not(:last-child)::before, .nav__item--active::before {
    width: 100%;
    transform-origin: left;
    transform: scaleX(1) !important; }
  .nav__item:active::before {
    background-color: var(--color-primary-light-1); }
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95); }
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .nav__links {
        justify-content: center;
        flex-direction: column;
        gap: 4rem; } }
  .nav__item:not(:last-child) {
    margin-right: 7rem; }
    @media only screen and (max-width: 50em) {
      .nav__item:not(:last-child) {
        margin-right: 0; } }
  .nav__item:not(:last-child):nth-last-child(2) {
    margin-right: 4.4rem; }
    @media only screen and (max-width: 50em) {
      .nav__item:not(:last-child):nth-last-child(2) {
        margin-right: 0; } }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--color-grey-1);
    text-decoration: none;
    transition: all 0.2s; }
  .nav__link:hover, .nav__link:active {
    color: var(--color-grey-3); }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 50em) {
    .btn-mobile-nav {
      display: block; } }

.icon-mobile-nav {
  width: 4rem;
  height: 4rem;
  fill: var(--color-grey-3);
  position: absolute;
  right: 5%;
  top: 1%;
  z-index: 99;
  position: fixed; }
  .icon-mobile-nav[id='close'] {
    display: none; }

@media only screen and (max-width: 50em) {
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); } }

@media only screen and (max-width: 50em) {
  .nav-open .icon-mobile-nav[id='close'] {
    display: block;
    z-index: 999; } }

@media only screen and (max-width: 50em) {
  .nav-open .icon-mobile-nav[id='open'] {
    display: none; } }

.header {
  background-color: var(--color-white);
  position: relative; }
  .header__title {
    overflow: hidden;
    max-width: 120rem;
    margin: 0 auto;
    padding: 9.6rem 0 4.5rem 6rem;
    display: grid;
    grid-template-columns: 51% 1fr;
    align-content: center;
    justify-content: center; }
    @media only screen and (max-width: 62.5em) {
      .header__title {
        padding: 4rem 6rem;
        grid-template-columns: 1fr;
        overflow: visible; } }
    @media only screen and (max-width: 50em) {
      .header__title {
        padding: 4rem 1.5rem; } }
  .header__text {
    font-size: 2rem;
    color: var(--color-grey-1); }
    @media only screen and (max-width: 62.5em) {
      .header__text {
        text-align: center; } }
  .header__btn-box {
    display: flex;
    align-items: center;
    gap: 4.8rem; }
  .header__featuredin-text {
    margin-bottom: 2.1rem; }
  .header__featuredin-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center; }
    .header__featuredin-logos img {
      max-width: 100%; }
  .header__img {
    width: 116%;
    grid-column: 2/3;
    grid-row: 1 / span 5;
    transform: translate(-1.6rem, 6.6rem); }
    @media only screen and (max-width: 62.5em) {
      .header__img {
        width: 50%;
        justify-self: center;
        grid-column: 1/-1;
        grid-row: 6;
        transform: translate(0, 0); } }

.footer {
  padding: 0 6rem;
  max-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 0 3rem; } }
  .footer__navigation {
    display: flex;
    justify-content: space-between;
    gap: 5rem 1.8rem;
    padding-right: 11rem;
    flex-wrap: wrap;
    margin-bottom: 11.3rem; }
    @media only screen and (max-width: 50em) {
      .footer__navigation {
        padding-right: 0; } }
  .footer__logos {
    display: flex;
    align-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 75em) {
      .footer__logos {
        justify-content: space-between;
        gap: 1.8rem; } }
  .footer__logo img {
    width: 11.9rem;
    height: 2.3rem; }
  .footer__heading {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 2rem; }
  .footer__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-white);
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: var(--color-grey-7); }
  .footer__logo-secondary {
    margin-right: 17.1rem; }
    @media only screen and (max-width: 75em) {
      .footer__logo-secondary {
        margin-right: 0; } }
  .footer__text {
    margin-right: 24.6rem;
    display: flex;
    flex-direction: column;
    color: var(--color-white); }
    @media only screen and (max-width: 75em) {
      .footer__text {
        margin-right: 0; } }
    .footer__text div {
      display: flex;
      text-align: center;
      gap: 1.6rem; }
    .footer__text--terms {
      font-size: 1.6rem; }
    .footer__text--privacy {
      font-size: 1.5rem; }
    .footer__text--copyright {
      font-size: 1.4rem; }
  .footer__socials {
    display: flex;
    gap: 5.3rem; }
    .footer__socials img {
      width: 2.1rem;
      height: 2.1rem; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: all 0.2s; }

.btn:hover, .btn:active {
  background-color: var(--color-primary-darker); }

.btn-text {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--color-primary);
  text-decoration: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--color-primary); }

.empower__tab {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2.32px;
  color: var(--color-grey-6);
  padding: 1.5rem 2.5rem;
  border-radius: 6.8px;
  border: 1px solid var(--color-grey-7);
  cursor: pointer; }
  .empower__tab--active {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    border: 1px solid var(--color-primary); }
  @media only screen and (max-width: 37.5em) {
    .empower__tab {
      width: 100%; } }

.btn-white {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  padding: 1.6rem 2.5rem;
  color: var(--color-primary-light-2);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary-light-2);
  border-radius: 5px;
  cursor: pointer; }

.empower {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0rem 6rem; }
  @media only screen and (max-width: 50em) {
    .empower {
      padding: 0rem 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .empower {
      padding: 0rem 1rem; } }
  .empower__tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
    flex-wrap: wrap;
    margin-bottom: 5.5rem; }
  .empower__content {
    display: none; }
  .empower__content--active {
    background-color: var(--color-white);
    padding: 7.4rem 7.4rem 6.3rem 7.4rem;
    margin: 0 auto;
    max-width: 108rem;
    border-radius: 1.9rem 1.9rem 0 0;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 8.5rem;
    justify-items: center;
    align-items: start;
    justify-content: center;
    align-content: center; }
    @media only screen and (max-width: 50em) {
      .empower__content--active {
        grid-template-columns: 1fr;
        padding: 3.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .empower__content--active {
        padding: 1rem; } }
  .empower__text--container {
    padding-top: 3.3rem;
    border-top: 1px solid var(--color-grey-8); }
  .empower__icon--container {
    display: flex;
    align-items: flex-start;
    gap: 15rem;
    transform: translateX(1%);
    grid-column: 1/-1;
    padding-top: 6.5rem;
    border-top: 1px solid var(--color-grey-8); }
    @media only screen and (max-width: 50em) {
      .empower__icon--container {
        gap: 3rem; } }
  .empower__img img {
    max-width: 100%;
    max-height: 100%; }
  @media only screen and (max-width: 50em) {
    .empower {
      width: 70%; } }
  .empower__buyers-text {
    font-size: 1.6rem;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    margin-bottom: 9.7rem;
    color: var(--color-primary-light-2); }
  .empower__heading {
    line-height: 1.25;
    margin-bottom: 3.2rem; }
  .empower__text {
    font-size: 2.1rem;
    line-height: 1.4;
    color: var(--color-grey-1);
    margin-bottom: 3rem; }
  .empower__icon--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    max-width: 21rem; }
    .empower__icon--item p {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 2px;
      color: var(--color-primary);
      line-height: 1.2;
      text-align: center; }
  .empower__icon {
    height: 7rem;
    width: 7rem;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .empower__icon {
        height: 3rem;
        width: 3rem; } }
    .empower__icon img {
      max-width: 100%;
      max-height: 100%; }
      @media only screen and (max-width: 50em) {
        .empower__icon img {
          max-width: 70%;
          max-height: 70%; } }

.testimonials {
  margin: 0 auto;
  max-width: 108rem;
  padding: 7.2rem 6.1rem 8.8rem;
  background-color: var(--color-primary-light-3);
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: repeat(6, min-content);
  column-gap: 4.1rem; }
  @media only screen and (max-width: 50em) {
    .testimonials {
      grid-template-columns: 1fr;
      padding: 3.2rem 2.1rem 4.8rem; } }
  .testimonials__heading {
    color: var(--color-primary-darker-2);
    grid-column: 1/-1;
    grid-row: 1/2; }
  .testimonials__text {
    font-size: 2.6rem;
    color: var(--color-grey-9);
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .testimonials__text {
        grid-column: 1/-1; } }
  .testimonials__details {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.4rem;
    padding: 1.1rem 0 4.6rem 0; }
    @media only screen and (max-width: 50em) {
      .testimonials__details {
        grid-column: 1/-1; } }
  .testimonials__photo {
    display: block;
    width: 7.2rem;
    border-radius: 50%;
    grid-column: 1/2;
    grid-row: 1/-1; }
  .testimonials__name {
    grid-column: 2/-1;
    align-self: end; }
  .testimonials__company {
    align-self: start;
    font-size: 2rem;
    color: var(--color-grey-1); }
  .testimonials__comment {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 1.8rem;
    text-align: center;
    color: var(--color-grey-3);
    padding: 4.4rem 0 2.8rem 0;
    border-top: 1px solid var(--color-grey-10); }
  .testimonials__btn {
    align-self: end;
    justify-self: center;
    grid-column: 1/2;
    grid-row: 5/6;
    margin-bottom: 7rem; }
  .testimonials__numbers {
    grid-column: 1/1;
    grid-row: 6/7; }
  .testimonials__img {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/6;
    display: block;
    padding-bottom: 7rem; }
    @media only screen and (max-width: 50em) {
      .testimonials__img {
        grid-column: 1/-1;
        grid-row: 5/6;
        justify-self: center;
        width: 50%;
        height: 80%; } }
    @media only screen and (max-width: 37.5em) {
      .testimonials__img {
        padding-bottom: 10rem; } }
  .testimonials__numbers {
    grid-column: 1/-1;
    grid-row: 6/7;
    padding: 4rem 2rem 0 2rem;
    border-top: 1px solid var(--color-primary-darker-3);
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .testimonials__numbers {
        flex-wrap: wrap;
        padding: 2rem 1rem 0 1rem; } }
  .testimonials__number {
    color: var(--color-primary-darker-2);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .testimonials__number h5 {
      font-size: 6.9rem;
      line-height: 1.29;
      font-style: regular; }
      @media only screen and (max-width: 50em) {
        .testimonials__number h5 {
          font-size: 3rem; } }
    .testimonials__number p {
      font-size: 1.4rem;
      letter-spacing: 2px; }

.solution {
  max-width: 108rem;
  margin: 0 auto;
  padding: 7.2rem 0 4.4rem 0;
  position: relative;
  background-color: var(--color-primary-light-2); }
  .solution__heading {
    color: var(--color-white);
    letter-spacing: 0.68px; }
  .solution__btn-container {
    padding: 0 6.1rem;
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
    margin-bottom: 4.4rem; }
  .solution__btn {
    text-decoration: none;
    display: inline-block;
    padding: 1.7rem 3.3rem;
    line-height: 1.6;
    font-size: 1.6rem;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-primary-light-2);
    border: 1px solid var(--color-white);
    border-radius: 6.8px;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .solution__btn {
        width: 100%; } }
  .solution__btn--active {
    color: var(--color-primary-light-2);
    background-color: var(--color-white); }

.slider {
  max-width: 108rem;
  height: 78.2rem;
  margin: 0 auto;
  padding: 4.4 16.4rem 14.4rem 16.4rem;
  border-radius: 12px;
  position: relative;
  background-color: var(--color-primary-light-2);
  border-radius: 0 0 1.9rem 1.9rem;
  overflow: hidden; }
  @media only screen and (max-width: 50em) {
    .slider {
      height: 120.2rem; } }
  .slider .slide {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s; }
  .slider__btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 120%;
    z-index: 999; }
    @media only screen and (max-width: 50em) {
      .slider__btn {
        top: 90%; } }
    .slider__btn img {
      max-width: 9.4rem;
      max-height: 9.4rem; }
      @media only screen and (max-width: 50em) {
        .slider__btn img {
          max-width: 4.4rem;
          max-height: 4.4rem; } }
  .slider__btn--left {
    left: 6.2%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 50em) {
      .slider__btn--left {
        left: 12%; } }
  .slider__btn--right {
    right: 6.2%;
    transform: translate(50%, -50%); }
    @media only screen and (max-width: 50em) {
      .slider__btn--right {
        right: 75%; } }

.dots {
  position: absolute;
  display: flex;
  gap: 1.2rem;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%); }
  @media only screen and (max-width: 50em) {
    .dots {
      bottom: 5%; } }
  .dots__dot {
    border: 1px solid var(--color-white);
    background-color: transparent;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer; }
  .dots__dot--active {
    background-color: var(--color-white); }

.story {
  max-width: 75.2rem;
  padding: 3.2rem 6.3rem 3.9rem 3.2rem;
  background-color: var(--color-white);
  border-radius: 1.2rem;
  display: flex;
  gap: 4.8rem; }
  @media only screen and (max-width: 50em) {
    .story {
      padding: 3.2rem 3.2rem 3.9rem 3.2rem;
      flex-direction: column; } }
  .story__left-side {
    flex: 0 0 49.5%;
    background: rgba(231, 236, 238, 0.27); }
  .story__left-side--img-part {
    position: relative; }
  .story__logo {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    left: 3.4%; }
  .story__location {
    display: inline-block;
    position: absolute;
    padding: 0.4rem 2rem 0.8rem 2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color-primary-light);
    background-color: var(--color-grey-5);
    letter-spacing: 2px;
    top: 81%;
    left: 60.3%; }
  .story__img {
    margin-bottom: 2.8rem; }
    .story__img img {
      width: 100%; }
  .story__left-side--text-part {
    padding: 0 1.6rem 4rem 2.4rem; }
  .story__homewon {
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--color-grey-3);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.6rem; }
    .story__homewon::before, .story__homewon::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor; }
  .story__logo--2 {
    text-align: end;
    padding: 3.3rem 2rem 1.9rem 2.4rem;
    border-bottom: 1px solid var(--color-primary-light-1); }
    @media only screen and (max-width: 50em) {
      .story__logo--2 {
        padding: 1.3rem 1rem 1.3rem 1rem; } }
    .story__logo--2 img {
      height: 6.7rem;
      width: 8.4rem; }
  .story__text-container {
    padding-top: 2.9rem;
    display: flex;
    align-items: center;
    gap: 7rem; }
    @media only screen and (max-width: 50em) {
      .story__text-container {
        gap: 3rem; } }
    .story__text-container h5 {
      font-size: 1.1rem;
      color: var(--color-grey-3);
      line-height: 3rem; }
    .story__text-container p {
      font-size: 1.6rem;
      line-height: 2.16rem;
      color: var(--color-grey-11); }
  .story__right-side {
    padding-top: 12rem;
    flex: 1; }
    @media only screen and (max-width: 50em) {
      .story__right-side {
        padding-top: 0rem; } }
  .story__heading {
    font-size: 3.2rem;
    color: var(--color-grey-12);
    letter-spacing: 0.16px;
    margin-bottom: 3.7rem;
    line-height: 3.52rem; }
  .story__text {
    font-size: 1.8rem;
    color: var(--color-grey-11);
    line-height: 1.7;
    margin-bottom: 6.6rem; }
    @media only screen and (max-width: 50em) {
      .story__text {
        margin-bottom: 2rem; } }
  .story__btn {
    color: var(--color-white);
    background-color: var(--color-primary-darker-4); }
  .story__icon {
    display: flex;
    gap: 1.4rem;
    align-items: center; }
    .story__icon p {
      font-size: 1.6rem;
      color: var(--color-primary); }

.app {
  margin: 0 auto;
  max-width: 108rem;
  padding: 0 6.2rem 0 7.3rem;
  display: flex;
  gap: 9rem; }
  .app__description {
    text-align: center;
    padding-top: 3.5rem; }
  .app__heading {
    font-size: 4rem;
    color: var(--color-grey-3);
    line-height: 1.18;
    margin-bottom: 3.5rem; }
  .app__text {
    font-size: 2rem;
    color: var(--color-grey-3);
    margin-bottom: 4.3rem; }
  .app__store--logo {
    display: inline-block;
    height: 6.4rem;
    width: 23.4rem;
    padding: 0.9rem 4.35rem 1rem 4.45rem;
    background-color: #000000;
    border-radius: 7px; }
    .app__store--logo img {
      width: 100%; }
  @media only screen and (max-width: 50em) {
    .app__img {
      display: none; } }
  .app__img img {
    width: 100%;
    height: 100%; }

.section-empower {
  padding: 7.2rem 0 0;
  background-color: var(--color-grey-4); }
  @media only screen and (max-width: 50em) {
    .section-empower {
      padding: 0; } }

.section-testimonials {
  padding: 0 6rem;
  background-color: var(--color-grey-4); }
  @media only screen and (max-width: 50em) {
    .section-testimonials {
      padding: 0; } }

.section-solution {
  padding: 0 6rem;
  border-radius: 0 0 1.9rem 1.9rem;
  background-color: var(--color-grey-4); }
  @media only screen and (max-width: 50em) {
    .section-solution {
      padding: 0; } }

.section-app {
  padding-top: 8.3rem;
  background-color: var(--color-grey-4); }
  @media only screen and (max-width: 50em) {
    .section-app {
      padding-bottom: 3rem; } }

footer {
  padding: 5.9rem 0 8.1rem 0;
  background-color: var(--color-black); }
